# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

/objs/*
/atomgrid-gen
/conformer-docking
/atom-docking
/unittest
/easytest-docking
/score-only
/intraenergy-only
/decompose
/*/*~
/*/*/*/*~
/*/*#
/*/*/*/*#
*.swp
*.sh.o*-*
*.o*
*.e*
*.log
*.grid
*docked*.sdf
*fragment*.sdf
*annotated*.sdf
testdata/*.csv
